.question {
  &__content {
    display: flex;
    flex-direction: column;

    .radio+.radio {
      margin: 0;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}