@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.App {
  padding-bottom: 80px;
}

.container {
  margin-top: 20px;
}

.card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-content {
    padding: 0;
  }
}

.navbar {
  &-shadow {
    box-shadow: 3px 1px 5px lightgray;
  }
}